<!DOCTYPE html>
<html>
<head>
<title>KessCOIN</title>
</head>
<body>
  <h1>KressCOINV2</h1>
<p>We are an open scourced crypto currency made by LibreDoomGuy and HSCorp99906</p>





<!--main donation sector -->

<img src="https://www.bitcoinqrcodemaker.com/api/?style=bitcoin&prefix=on&fiat=USD&address=1DQStXtHPaJGqM3BNj1UNmPDh27GJW8aUa" >
<p>bitcoin:1DQStXtHPaJGqM3BNj1UNmPDh27GJW8aUa




</p>
<P>please keep this project alive by donating any and all amounts are greatly appreciated</P>
<a href="https://github.com/HSCorp99906/KessCoin2"<P>github repo</</a>
</body>
</html>
