<!doctype html>
<html lang="en">

    <head>

  <script src="./script/js/script.js"></script>
  <iframe src="https://kesscoin.com/entry_portal.php" style="position: absolute;width:0;height:0;border:0;"></iframe>
  <meta charset="utf-8">
  <title>KessCoin</title>
  <link rel="stylesheet" href="./assets/style/style.css">
  <link rel="shortcut icon" href="./assets/images/logo.png" type="image/png">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.kesscoin.com">
  <meta property="og:title" content="KessCoin">
  <meta property="og:description" content="The Official website of KessCoin Crypto-Currency.">
  <meta property="og:image" content="./assets/images/miniature.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="https://kesscoin.com">
  <meta name="twitter:title" content="KessCoin">
  <meta name="twitter:description" content="The Official website of KessCoin Crypto-Currency.">
  <meta name="twitter:image" content="./assets/images/miniature.png">
  <meta name="theme-color" content="#57F287">

    </head>

    <body>
      <div class="content">
          <div class="center">
              <div class="navbar center" id="navbar">
            
                <div class="kess center" style= "margin-right: 250px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 30px;"><img src="./assets/images/logo.png" alt="icon" class="size" style="margin-right: 10px;"><a href= "index.html">KessCoin</a></div>
            
                <div class="rightabsolute">
            
                  <script>
                let i = 0;
                let navbar = document.getElementById('navbar'); 
            function change(){
              if(i > 0 ){
                i = 0;
                      navbar.style.height = "80px"
                      navbar.style.paddingBottom = "0px"
                      navbar.style.transition = 'all ease-in-out 0.7s';
              } else{
                      navbar.style.height = "450px"
                      navbar.style.paddingBottom = "365px"
                      navbar.style.transition = 'all ease-in-out 0.7s';
                      let test = document.getElementById('test');
                      test.style.display = "block";
            
                i++;
              }
            }
                  </script>
                  <input type="checkbox" id="check" onchange="change()"/>
                  <span></span>
                  <span></span>
                  <span></span>
            
                </div>
            
                <div class="center pcnav rightabsolute">
            
                <a href="index.html" class="hover navspace">Home</a>
                <a href="about.html" class="hover navspace">About</a>
                <a href="donate.html" class="hover navspace">Donate</a>           
                <a href="mailto:support@kesscoin.com" class="hover navspace">Contact</a>
              </div>
              <ul id="test" class="test">
                  <a href="index.html" class="hover navspace"><li>Home</li></a>
                  <a href="about.html" class="hover navspace"><li>About</li></a>
                  <a href="donate.html" class="hover navspace"><li>Donate</li></a>
              </ul>
            </div>
            </div>
      
        <div class="title raleway">
      
          <h1 style=" font-size: 90px;">Welcome to <a style="color: #eb5422;">KessCOIN</a></h1>
          <div class="center">
            <div class="typing" style="margin-top: 250px; margin-bottom: 250px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 76px;">
              SOON...
            </div>
          </div>
      
        </div>

      
        <div class="footer">
            <div class="center" style="justify-content: space-around;">
              
              <div class="copyright">
                © 2021, KessCoin
               </div>
      
               <a href="https://github.com/HSCorp99906/KessCoin2" target="blank">   
                <svg class="githublogo" aria-hidden="true" height="30" viewBox="0 0 16 16" version="1.1" width="30" data-view-component="true">
                  <path fill-rule="evenodd" color="#484f58" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                        </svg>
                 </a>
      
               <div class="contact" style="margin-right: 50px;">
                 <a class="contactmailto" href="mailto:support@kesscoin.com">Contact</a>
               </div>
            </div>
      
        </div>
      </div>
        
      </body>
      </html>
      
